body {
    margin: 0;
    background: transparent;
    overflow: hidden;
}

#terminal {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

/* Fix for WebGL mirroring on some mobile devices */
.webgl-mobile-fix .xterm-screen {
    transform: scaleY(-1);
}
