body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

#terminal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

#terminal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Fix for WebGL mirroring on some mobile devices */
.webgl-mobile-fix .xterm-screen {
    transform: scaleY(-1);
}